.tracks-list {
  display: flex;
  flex-direction: column;
}

.music-card {
  display: flex;
  justify-content: space-around;
}

.song-name {
  font-weight: 600;
  width: 20%;
}

audio {
  background-color: white;
  border-radius: 15px;
  border-style: double;
  box-shadow: 1px 1px 1px 0 black;
  color: aquamarine;
}

audio:hover {
  color: blue;
}

p {
  font-weight: 900;
}

img {
  align-content: center;
  width: 100px;
}

.page-album {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
}
